h3 {
  font-weight: 300;

}

#team-pictures {
  padding-top: 2%;
  text-align: center;
}

.flex-row {
  display: flex;


}

.one {
  background-color: Skyblue;
}

.two {
  background-color: white;
}

.three {
  background-color: Steelblue;
}

.name {

}


.team-div {
  background-color: WhiteSmoke;
  border-radius: 5%;
  box-shadow: 5px 5px 0 0 black;
  height: 375px;
  left: 5%;
  right: 3%;

  margin: 2% auto 3%;
  position: relative;
  width: 360px;

}


.team-photo {
  margin-top: 10%;
}
