body {
  margin: 0;
}

.img-comp-container {
  position: relative;
  height: 266px; /*should be the same height as the images*/

}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;

}

.img-comp-slider {
  position: absolute;
  z-index: 2;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 45px;
  height: 45px;
  background-color: #2196F3;
  opacity: 0.4;
  border-radius: 50%;
}

.photo-cell {
  margin: 50px 20px;
}
