/* ----------Navigation Bar---------- */
body {
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', Georgia, "Times New Roman", serif;

}


#Navbar {
  padding-bottom: 30px;
  background-color: #ffff;
}

.logo {
  margin: auto;
  display: block;
}

.navbar-light .navbar-nav .nav-link {
    color: black;

  font-family: "Montserrat-Light";
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;

}

.navbar-light .navbar-nav .nav-link:hover {
  color: #910029;
}
.nav-item {
  padding: 0 20px;
}

.telephone-number {
  font-family: "Ubuntu";
  font-size: 1.45rem;
  color: white;
}

/* ----------Greeting Section With Main Landing photo of female---------- */
#Show {
background-color:   #910029;
}

.booking {

  text-align: center;
  padding: 190 95;
}

.booking-button {
  border-color: black;
  border-width: thick;
  color: black;
  background-color: #eeeeee;
  font-size: 2rem;
  padding: 2rem 8rem;
}

.booking-button:hover {
  background-color: black;
  border-color: black;
  color: #eeeeee;
  font-weight: 700;
}

.greeting-heading-main {
  color: white;
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
  font-size: 4rem;
  letter-spacing: 5px;
  margin-top: 150px;
  text-align: center;

}

.greeting-text {
  color: white;
  font-family: 'Sriracha', cursive;
  font-size: 70px;
  line-height: 1.3em;
  width: 60%;
  margin: 0 auto 0 auto;
}

.main-photo {
  width: 100%;

}

/* ----------Review & Call---------- */



.review-div {
  padding: 40px 0 50px;
  background-color: #dedede;
}

.review-link:hover {
  text-decoration: none;

}

.review-header {
  color: black;
  font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
  font-size: 3.25rem;
}

.review-header:hover {
  color: #990000;
  font-weight: 700;
}

.review-paragraph {
  color: black;
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
  font-size: 3rem;
  font-weight: 300;
}

.review-paragraph:hover {
  color: #990000;
  font-weight: 700;
}

  /* ------------ Call --------------- */
.third {
  margin-right: 0;
  padding: 0;
  text-align: center;
}

.call {
  padding: 40px 0 50px;
  background-color: #eeeeee;
}

.call-text {
  color: black;
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
  font-size: 3.25rem;
  font-weight: 600;

}


.phone-number {
  color: black;
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;

  font-size: 3rem;
  font-weight: 500;
  text-decoration: none;
}

.phone-number:hover {
  color: #910029;
  text-decoration: none;
  font-weight: 700;
}

/* ----------Meet Doctor---------- */
.dr-col {
  margin-bottom: 6%;
}

.underlined-link {
  border-bottom: 3px solid black;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: black;
  color: black;
  letter-spacing: 5px;
  margin-left: 20%;
  position: absolute;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.underlined-link:hover {
  color: inherit;
  color: gray;
  border-bottom-color: gray;
  text-decoration: none;
}

.dr-intro {
  position: relative;
  text-align: left;
}

.dr-heading {
  font-size: 44px;
  font-weight: 500;
  line-height: 1.7em;
  padding: 10% 20% 2%;
}

.dr-text-main-body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7em;
  padding: 0 20%;
}

.keith-photo {
  width: 100%;
}

/* ----------Map---------- */
.bottom-link {
  margin-left: 10%;
}

.contact-hours-info {
  background-color: #f9f9f9;
  text-align: left;
}

.directions-header {
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 600;
  letter-spacing: 5px;
  padding: 4% 0 3% 10%;
}

.inner-text {
  font-size: 1.2rem;
  font-weight: 300;
  padding-left: 3%;
}

.map {
  background-color: #f6f6f6;
}

.map-heading {
  font-size: 38px;
  line-height: 1.3em;
  padding-top: 5%;
  text-align: center;
}

.map-link {
  margin: 2% 0 5% 10%;
  max-width: 80%;
}

.map-text {
  font-size: 1.4rem;
  font-weight: 600;
  padding-left: 10%;
}

.phone-number-bottom {
  color: #00c19e;
  font-size: 1.25rem;
  font-weight: 400;
  padding-left: 3%;
}

.phone-number-bottom:hover {
  color: black;
  text-decoration: none;
}
